h1{
    font-size: 36px!important;
    color: bisque!important;
    font-weight: 900!important;
    text-align: center!important;
}

h2{
    text-align: center!important;
    font-size: 25px!important;
    color: bisque;

}